@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background-color: rgba(248, 236, 214, 0.705);
}
p,h1,h2,article{
    font-family: var(--font); 
    color: white;
}
.button{
    border-style: inset;
    background-color: var(--fondo2);
}
.button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px white;
}

:root{
    --font:'Itim', cursive;
    --fondo1:#3e5f8a;
    --fondo2:rgb(81, 109, 131);
}
.fondo *{
    display: block;
    position: absolute;
    
}
.fondo__horizontal--verde_oscuro{
    background-color: var(--fondo2);
    width: 100%;
    height: 200px;
    margin-top: 3%;
    z-index: 0;
}

.fondo__vertical--verde_claro{
    background-color: var(--fondo1);
    height: 100%;
    width: 250px;
    margin-left: 10px;
    z-index: 1;
}

.fondo__img--redonda{
    width: 180px;
    height: 180px;
    border-radius: 150px;
    margin-top: 3%;
    margin-left: 40px;
    z-index:2;
}

header *{
    position: absolute;
    z-index: 4;
    margin-left: 20%;
}
.header__oficio{
    margin-top: 10%;
    font-size: 40px;
    color: rgb(182, 181, 181);
}
h1{
    color: whitesmoke;
    margin-top: 3%;
    font-size:100px;
}

.perfil *{
    color: whitesmoke;
    position: absolute;
    margin-left: 3%;
    margin-top: 15%;
    z-index: 5;   
}

.perfil article{
    margin-left: 2%;
    margin-top: 17%;
}



/* Zona izquierda */
.perfil__tlf, .perfil__gmail, .perfil__github{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 150px;
    margin-left: 1%;
}

.perfil__tlf__txt, .perfil__gmail__txt, .perfil__github__txt, .perfil__contact{
    position:absolute;
    margin-left: 3.3%;
}
.perfil__contact{
    margin-top:32.7%;
    height: 40px;
    width: 100px;
    
}
.perfil__tlf{
    margin-top: 22%;
}
.perfil__gmail{
    margin-top: 25%;
}
.perfil__github{
    margin-top: 28%;
}
.perfil__tlf__txt{
    margin-top: 22.7%;
}
.perfil__gmail__txt{
    margin-top: 25.7%;
}
.perfil__github__txt{
    margin-top: 28.7%;
}
/* Fin zona izquierda */

/* Zona centro */
.titulaciones{
    position: absolute;
    z-index: 6;
    margin-left: 18%;
    margin-top: 15%;
    
}

.center__menu{
    position:absolute;
    z-index: 7;
    width: 95%;
    display: flex;
    justify-content: space-around;
    border-style: inset ;
    margin-top: 2%;
    margin-left:2%;
    margin-right: 0%;
    background-color:  var(--fondo1);
}
.center{
    position:absolute;
    z-index: 7;
    width: 70%;
    height: 67%;
    margin-top: 17%;
    margin-left:22%;
    margin-right: 0%;
    background-color:  white;
}
.center__menu p{
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    /* align-self: center; */
    display: flex;
    justify-content: center;
}
/* .active:hover{
    cursor: pointer;
    animation-name: fade_menu;
    animation-duration: 0.5s;
    background-color: var(--fondo2);
} */


/* Zona centro slider */

.center__body{
    display: block;
    position: absolute;
    height: 70%;
    width: 95%;
    margin-top: 10%;
    margin-left:2%;
    background-color: var(--fondo1);
}

/* Fin zona centro slider */

/* Fin zona centro */



/* Slider */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top:19%;
}

/* Position the "next button" to the right */
.next {
  right: -100px;
  border-radius: 3px 0 0 3px;
}

.prev{
    left: -100px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--fondo2);
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /* background-color: rgba(0, 132, 255, 0.548); */
  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 0px 10px 18px var(--fondo1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides{
    position: absolute;
    height: 70%;
    width: 95%;
}

.mySlides__frontend{
    width: 60px;
    height: 60px;
}


.puntitos{
    margin-top: 35%;
}

/* Fin slider */

/* Contact */
.contact-section{
    position:absolute;
    z-index: 7;
    width: 70%;
    height: 67%;
    margin-top: 17%;
    margin-left:22%;
    margin-right: 0%;
    background-color:  white;
}
.contact__content{
    display: block;
    /* height: 70%;*/
    width: 95%;
    z-index: 15;
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
    background-color: var(--fondo1);
}

.contact-section h2{
    margin-left: 45%;
}

.contact__content__form{
    margin-left: 10%;
}

input:focus, select:focus {
    box-shadow: 5px 5px 5px white;
}
.contact__content__form__email{
    width: 110px;
    height: 30px;
}

.contact__back{
    height: 30px;
    width: 60px;
}

/* Fin contact */


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade_menu {
      from {background-color: var(--fondo1)}
      to {background-color: var(--fondo2)}
  }