:root{
    --aside_bg: hsl(188, 100%, 29%);
    --body_bg: chocolate;
    --header_bg: aqua;
    --nav_bg: hsl(184, 100%, 51%);
}
body{
    background-color:var(--body_bg);
}

nav, main, aside, footer{
    margin:5px;
}
header{
    grid-area: header;
    display: flex;
}

.container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav    main   main   main   main   aside'
    'footer footer footer footer footer footer'
    ;
}
header h4{
    background-color: var(--header_bg);
    max-height: 150px;
    min-height: 150px;
    height: auto;
    width: 100%;
    margin:0;
    grid-area: title;
    flex: 1 1 auto;
    text-align: center;
}

img{
    width: 8%;
    grid-area: image;
    position: absolute;
    margin-left: 53%;
}

nav{
    grid-area: nav;
    background-color: var(--nav_bg);
    width: 200px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
}
nav a{
    margin: 4%;
}
main{
    grid-area: main;
    text-align: justify;
}

aside{
    grid-area: aside;
    background-color: var(--aside_bg);
}

footer{
    grid-area: footer;
    background-color: var(--aside_bg);
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 760px){ /*Para cuando mide menos dee 760px*/
    body{
        background-color: white;
    }
    .container{
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'nav    nav    nav    nav    nav    nav'  
        'main   main   main   main   main   main'
        'aside  aside  aside  aside  aside  aside'
        'footer footer footer footer footer footer';
    } 


    footer{
        margin-top: 10px;
        grid-area: footer;
        background-color: var(--aside_bg);
        display: flex;
        justify-content: space-around;
    }

    aside{
        grid-area: aside;
        background-color: var(--aside_bg);
        
    }
    nav{
        grid-area: nav; 
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        background-color: hsl(162, 100%, 51%);
    }
    nav a{
        margin: 0px;
        padding: 4%;
    }
    nav a:hover{
        background-color: yellow;
    }
    main{
        grid-area: main;
        min-height: 400px;
    }

    header h4{
        
        grid-area: header;
        display: flex;
        min-height: 75px;
        height: auto;
        width: 100%;
        grid-area: title;
        flex: 1 1 auto;
        text-align: start;
    }
    img{
        display: none;
    }

}


